<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-add-task-input></app-add-task-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          AA
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
